<h3 class="mt-3">Agregar Curso</h3>
<form [formGroup]="agregarCurso" (ngSubmit)="agregar()">
  <div class="mb-3">
    <label for="titulo" class="form-label">Título</label>
    <input
      formControlName="titulo"
      type="text"
      class="form-control"
      id="titulo"
      placeholder="Agrega un título"
    />
  </div>
  <div class="mb-3">
    <label for="encargado" class="form-label">Encargado</label>
    <input
      formControlName="encargado"
      type="text"
      class="form-control"
      id="encargado"
      placeholder="Agrega al encargado"
    />
  </div>
  <div class="mb-3">
    <label for="descripcion" class="form-label">Descripción</label>
    <textarea
      formControlName="descripcion"
      class="form-control"
      id="descripcion"
      rows="8"
    ></textarea>
  </div>
  <button type="submit" class="btn btn-primary float-end">Aceptar</button>
  <button type="button" class="btn btn-secondary" routerLink="/">Volver</button>
</form>
